body {
  margin: 0;
  padding: 0;
  font-family: 'Mochiy Pop One', sans-serif;
  font-display: optional;
  background-color: aquamarine;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* コンテンツのはみ出しを隠す */
}

main {
  flex: 1;
  padding: 20px;
}

.header {
  background-color: rgb(102, 205, 170);
  color: #ffffff;
  text-align: center;
  border-bottom-left-radius: 20px; /* 左下の角を丸くする */
  border-bottom-right-radius: 20px; /* 右下の角を丸くする */
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.gradient {
  background: linear-gradient(rgba(102, 205, 171, 0.455),rgb(102, 205, 171));
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 20px; 
  border-bottom-right-radius: 20px;
  z-index: 1;
}

.logo img {
  padding-top: 50px;
  width: 100px; /* ロゴのサイズを適宜調整 */
}

.header-text {
  margin-top: 20px;
  font-size: 30px; /* ヘッダーテキストのフォントサイズを調整 */
}

/* 固定ヘッダー */
.fixed-header {
    position: fixed;
    top: -150px; /* 初期状態では非表示にする */
    left: 0;
    width: 100%;
    background-color: #66cdaa;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    transition: top 0.3s; /* スクロール時のアニメーションを追加 */
    border-bottom-left-radius: 20px; /* 左下の角を丸くする */
    border-bottom-right-radius: 20px; /* 右下の角を丸くする */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around; /* リンクを均等に配置 */
}


nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 20px; /* リンクのパディングを追加 */
}

/* 以前のCSSスタイルを維持 */

footer {
  background-color: #66cdaa;
  color: #ffffff;
  padding: 20px;
  position: relative; /* コンテンツの上に重ねるためにpositionを指定 */
}

/* ... 以前のコードは省略 ... */

.footer-content {
  display: flex;
  flex-wrap: wrap; /* 要素が折り返すようにする */
  justify-content: center; /* 要素を中央に配置する */
  align-items: center; /* 要素を縦方向に中央に配置する */
}

.logo {
  flex: 1 1 100%; /* ロゴを100%幅で表示する */
  text-align: center; /* ロゴを中央に配置する */
}

.logo img {
  width: 100px; /* ロゴのサイズを適宜調整 */
}

.footer-links {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  flex: 1 1 100%; /* リンクを100%幅で表示する */
  justify-content: center; /* リンクを中央に配置する */
}

.footer-links li {
  margin-right: 20px;
}

.footer-links li:last-child {
  margin-right: 0; /* 最後のリンクには右のマージンを適用しない */
}

.footer-links a {
  color: black;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-copy {
  flex: 1 1 100%; /* コピーを100%幅で表示する */
  text-align: center; /* コピーを中央に配置する */
  color: #ffffff;
}


.social-icons {
  flex: 1 1 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* 波のデザインを追加 */
footer::before,
footer::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 20px; /* 波の高さを調整 */
  background-color: #66cdaa; /* フッターと同じ色にする */
  transform-origin: 50%;
  z-index: -1; /* 波をコンテンツの下に配置 */
}

footer::before {
  top: -10px;
  border-radius: 50% 50% 0 0; /* 上部を丸くする */
}

footer::after {
  bottom: -10px;
  border-radius: 0 0 50% 50%; /* 下部を丸くする */
}

/* 影のある枠のスタイル */
.fancy-border {
  border: 1px solid #cccccc;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  /* その他のスタイル */
}

/* 浮き出るボタン*/
.floating-button {
    background-color: aquamarine;
    color: #000000;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.floating-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.box5 {
    padding: 0.5em 1em;
    margin : 30px ;
    border: double 5px #4ec4d3;
}
.box5 p {
    margin: 0; 
    padding: 0;
}
.box-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.box-flex.box5 {
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}
@media (max-width: 750px) {
  .box-flex {
    display: block;
  }
}
h1 { text-align: center }

.buruburu-hover:hover {
  animation: hurueru .1s  infinite;
}

@keyframes hurueru {
  0% {transform: translate(0px, 0px) rotateZ(0deg)}
  25% {transform: translate(2px, 2px) rotateZ(1deg)}
  50% {transform: translate(0px, 2px) rotateZ(0deg)}
  75% {transform: translate(2px, 0px) rotateZ(-1deg)}
  100% {transform: translate(0px, 0px) rotateZ(0deg)}
}

