.custom-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* ボタンがホバーされたときのスタイル */
.custom-button:hover {
    background-color: #2980b9;
}