
.box5 {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
}
.box5 p {
    margin: 0; 
    padding: 0;
}

.box {
  border-left: 5px double skyblue;
  border-right: 5px double skyblue;
  background-color: #eee;
  padding: 2em;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: darkgrey;
}
 
.main {
  padding-top: 50px;
  overflow: auto;
}

div.center {
    text-align: center; 
}
div{
  background:lightblue;
  margin-bottom:10px;
}

.box5 {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
}
.box5 p {
    margin: 0; 
    padding: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: darkgrey;
}
